[alias]
	d = diff
	dc = diff --cached
	l = log
	lp = log -p
	ls = ls-files
	s = status
[color]
	diff = auto
	status = auto
	branch = auto
[commit]
	gpgsign = true
[core]
	pager = delta
	precomposeunicode = true
	quotepath = false
[credential]
	helper = store --file /Users/saito/.git-credentials
[delta]
	features = decorations
	line-numbers = true
	syntax-theme = Nord
	tabs = 8
	# theme = Nord
[delta "decorations"]
	commit-decoration-style = yellow box ul
	file-decoration-style = yellow ul
	file-style = yellow
	hunk-header-decoration-style = yellow box
[diff]
	compactionHeuristic = true
[fetch]
	prune = true
[ghq]
	root = ~/.ghq
[gpg]
	program = /Users/saito/.bin/gpg
[init]
	defaultBranch = main
[interactive]
	diffFilter = delta --color-only
[pull]
	rebase = false
[push]
	default = simple
[user]
	name = Atsunori Saito
	email = sai@yedo.com
	#email = atsunori.saito@nileworks.co.jp
	#email = atsunori.saito@fpvrobotics.com
	signingkey = 1BD68FE00A98776CB2F1D8568F60FAAE34329E5E
