set clipboard+=unnamedplus
set commentary
set easymotion
set matchit
set noerrorbells
set highlightedyank
set ignorecase
set incsearch
set multiple-cursors
set scrolloff=5
set smartcase
set surround
set visualbell
let mapleader = "\<Space>"
inoremap <C-g> <ESC>
cnoremap <C-g> <ESC>
vnoremap <C-g> <ESC>
nnoremap <C-g> <ESC>
nmap [c <Action>(VcsShowPrevChangeMarker)
nmap ]c <Action>(VcsShowNextChangeMarker)
nmap <Leader>v <Action>(Vcs.Operations.Popup)
nmap <Leader>r <Action>(RunMenu)
nmap <Leader>R <Action>(RefactoringMenu)
nmap <Leader>h <Action>(PopupHector)
map <C-n>  <A-n>
map <C-p>  <A-p>
map <C-x>  <A-x>
map g<C-n> g<A-n>
nmap gi <Action>(GotoImplementation)
