add_newline = false

[aws]
symbol = " "
disabled = true

[aws.region_aliases]
ap-northeast-1 = "東京"

[battery]
full_symbol = ""
charging_symbol = " "
discharging_symbol = " "

[[battery.display]]
threshold = 100
style = "bold red"

[character]
symbol = ""
error_symbol = ""
use_symbol_for_status = true

[cmd_duration]
prefix = "祥"

[conda]
symbol = " "

[directory]
prefix = " "
#fish_style_pwd_dir_length = 1

[git_branch]
symbol = "  "

[golang]
symbol = " "

[hg_branch]
symbol = " "

[java]
symbol = " "

[jobs]
symbol = "ﰌ"

[memory_usage]
symbol = " "
disabled = false
show_percentage = true
threshold = -1
separator = "/"

[nodejs]
symbol = " "

[package]
symbol = " "

[php]
symbol = " "

[python]
symbol = " "
pyenv_version_name = true
# disabled = true

[ruby]
symbol = " "

[rust]
symbol = " "
